.container {
  width: 330px;
  height: 300px;
  background-color: #E6E6E6;
  color: #A5A5A5;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}