.Modal {
  position: fixed;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition: transform 500s ease-in-out;
  border: none;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .Modal {
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Modal {
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Modal {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Modal {
    width: 600px;
  }
}
