$main-color: #f0526c;
$ads-bg: #E6E6E6;
$ads-text: #A5A5A5;
$mobile-nav: #F9F9F9;
$input-border: #E5E5E5;
$input-text: #848484;
$caption: #3B3B3B;
$download-button: #EF486F;
$menu-link: #EBEBEB;
$profile-name: #AEAEAE;
$stats-info: #181818;
$stats-type: #EBEBEB;
$gradient-first: #FCA343;
$gradient-second: #BF0885;
$light-grey: #efefef;
$darker-grey: #c8c8c8;
$caption-btn: #ef486f;
$title-text: #343434;
$main-text: #646464;